.login-form {
	margin-top:10px;
	margin-right:10px;
	float:right;
	
	height:50px;
	padding:5px;
	width:530px;	
	background-color: #edeff1;
	border-radius: 6px;
	float:right;


}

.login-field{
	margin:5px;
	width: 200px;
	height: 40px;
	padding: 0 15px 2px;
	font-size: 17px;
	background: white;
	border: 2px solid #ebebeb;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 -2px #ebebeb;
	box-shadow: inset 0 -2px #ebebeb;
	}

.login-button{
	width:100px;
	background-color: #1abc9c;
	height: 40px;
	font-size: 22px;
	color: white;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	border:none;
	
}

.login-banner{
	float:left;
	position: absolute;
	margin-left: 10%;
	margin-top: 250px;
	width:450px;

}
input:focus { 
    outline: none !important;
    border:1px solid #1abc9c;
    box-shadow: 0 0 1px #1abc9c;
}